/* Add CSS Styling */

.odd {
    background-color: #ed788d;
    font-family: Verdana, "DejaVu Sans", sans-serif;

}

#second {
    color: #0000ff;
    font-size: 36px;
}

.big {
    font-size: 24px;
}

#fourth {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}